<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>
    <!-- <meta name="theme-color" content="#000000"> -->
    <meta charset="UTF-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">
    <!--<meta name="theme-color" content="#000000">모바일 WEB 주소창 컬러 -->

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://galleryx.io">
    <meta property="og:title" content="Gallery X">
    <meta property="og:description" content="Metaverse for Exhibition">
    <meta property="og:image" content="http://galleryx.io/images/og_image.png">
    <!-- <meta property="fb:app_id" content="836908680015094"> -->
    <meta name="keywords" content="metaverse,메타버스,nft,exhibition,전시회,instagram,인스타그램"/>

    <link rel="shortcut icon" href="https://galleryx.io/logo/logo_instarverse.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="logo/logo_instarverse.png">
    <link rel="icon" type="image/png" sizes="32x32" href="logo/logo_instarverse.png">
    <link rel="icon" type="image/png" sizes="96x96" href="logo/logo_instarverse.png">
    <link rel="icon" type="image/png" sizes="128x128" href="logo/logo_instarverse.png">
    <link rel="icon" type="image/png" sizes="180x180" href="logo/logo_instarverse.png">
    <link rel="icon" type="image/png" sizes="192x192" href="logo/logo_instarverse.png">
    <link rel="icon" type="image/png" sizes="256x256" href="logo/logo_instarverse.png">
    <link rel="icon" type="image/png" sizes="512x512" href="logo/logo_instarverse.png">
    <link rel="icon" type="image/ico" href="favicon.ico">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-221101101-1">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-221101101-1');
    </script>

  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
